.form-container .field {
    position: relative;
    width: 70%;
    transition: 0.3s all;
    cursor: pointer;
  }
  
  .form-container .field::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background: #b7b5b55a;
    left: 0;
    bottom: 0;
    border-radius: 10px;
    width: 88%;
  }
  
  .form-container .field input {
    outline: none;
    width: 88%;
    border: none;
    background: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
  }
  
  .form-container .field .icon {
    position: absolute;
    font-family: sans-serif;
    right: 0;
    bottom: 3px;
    font-size: 26px;
    color: rgb(212, 208, 212);
  }
  
  .form-container .field b.icon {
    font-size: 22px;
  }
  
  .form-container .field span {
    position: absolute;
    left: 5px;
  }
  
  .form-container .field span.active  {
    position: absolute;
    /* top: -20px; */
    transform: translate(-0px, -20px);
    transition: 0.3s all;
  }

  .form-container .field .error-field {
    position: absolute;
    bottom: -20px;
    font-size: 10px;
    padding: 1px 5px;
    background-color: #bb0b0b7f;
    border-radius: 5px;
    border: 1px solid #a00f0f8f;
    transform: scale(0);
    opacity: 0;
    transition: .2s all;
  }

  .form-container .field .error-field.active {
    transform: scale(1);
    opacity: 1;
  }